# Dependencies
node_modules/

# Environment Variables
.env
.env.production
.env.local

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Optional: Ignore the local cache/json if you don't want history uploaded
data/emails.json
